*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: roboto,sans-serif;
}

.navbar{
    width: 100px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}

.brand-logo{
    height: 70px;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
   margin-left: 20px;
   text-transform: capitalize;
   color: #fff;
   opacity: 0.9;
}
.right-container{
    display: block;
    margin-right:auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500px;
    transition: 1s;
    margin-left: 450px;
}

.search-box:focus{
    width: 400px;
    border-color: #1f80e0;
    margin-left: 200px;
}
.sub-btn{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px ;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
    margin-left: 30px;
}

.login-link{
    color: #fff;
    opacity: 0.9;
    transform:uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}


.caraousel{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
   margin: auto;
   margin-top: 100px;
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0,0,0,0,5);
    border-radius: 5px;
    width: 100%;
    height:100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}


.slide-content{
    position:absolute;
    width: 50px;
    height:100%;
    z-index:2 ;
    background: linear-gradient(to right, #030b17,#0c111b00);
    color: #fff;
    
}

.first{
   
   
    margin-top: 50px;
  
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    margin-left: 40px;
    color: #fff;
    margin-top: 30px;
}
.s{
   border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


